/* 
 * Meta box styles
 */
.thd-metabox label {
	font-weight:bold;
}

.thd-metabox .description {
	font-size:11px;
	color:#777;
	font-style:italic;
}

/* 
 * Icons
 */

/* Real Estate Listings */
#icon-edit.icon32-posts-real-estate {
	background:url(../images/re_icon-32.png) no-repeat 50%;
}

#adminmenu #menu-posts-real-estate .wp-menu-image {
	background:url(../images/re_icon-16.png) no-repeat 50% -2px;
}

#adminmenu #menu-posts-real-estate:hover .wp-menu-image,
#adminmenu #menu-posts-real-estate.wp-has-current-submenu .wp-menu-image {
	background-position:50% -34px;
}